/Troop209-AMES-ISS.X/build/Troop209-NESI-AMES/nbproject/private/
/Troop209-AMES-ISS.X/build/Troop209-NESI-AMES/build/
/Troop209-AMES-ISS.X/build/Troop209-NESI-AMES/debug/
/Troop209-AMES-ISS.X/build/Troop209-NESI-AMES/dist/
/Troop209-AMES-ISS.X/build/Troop209-NESI-AMES/nbproject/Makefile-*.mk
/Troop209-AMES-ISS.X/build/Troop209-NESI-AMES/nbproject/Makefile-*.properties
*.o