/Troop209-AMES-ISS.X/build/Troop209-AMES-ISS/nbproject/private/
/Troop209-AMES-ISS.X/build/Troop209-AMES-ISS/build/
/Troop209-AMES-ISS.X/build/Troop209-AMES-ISS/debug/
/Troop209-AMES-ISS.X/build/Troop209-AMES-ISS/dist/
/Troop209-AMES-ISS.X/build/Troop209-AMES-ISS/nbproject/Makefile-*.mk
/Troop209-AMES-ISS.X/build/Troop209-AMES-ISS/nbproject/Makefile-*.properties
*.o
