/Lab01-solution.X/nbproject/private/
/Lab01-solution.X/build/
/Lab01-solution.X/debug/
/Lab01-solution.X/dist/
/Lab01-solution.X/nbproject/Makefile-variables.mk
/Lab01-solution.X/nbproject/Makefile-genesis.properties